




.main_div
  {
  text-align:center;
  background: #00C492;
  padding:20px; width: 400px;
  }
.inner_div
  {
  background: #fff;
  margin-top:20px;
  height: 100px;
  }
.buttons a
  {
  font-size: 16px;
  }
.buttons a:hover
  {
  cursor:pointer;
  font-size: 16px;
  }

/*Amatic*/
@font-face {
		font-family: 'amaticbold';
		src: url('../fonts/amatic-bold-webfont.woff2') format('woff2'),
				 url('../fonts/amatic-bold-webfont.woff') format('woff');
		font-weight: normal;
		font-style: normal;}
/*Dual*/
@font-face {
	font-family: 'dual300';
	src: url('../fonts/dual-300-webfont.woff2') format('woff2'),
	url('../fonts/dual-300-webfont.woff') format('woff');
	font-weight: normal;
	font-style: normal;}
.hide{display:none;}
body {  background-image: url("../images/back.png");}

/*Index*/
#indBody{
	 background-image: url("../images/darkback.png");
}
.logo{margin-top: 75px;}

.tagline{
	font-family: 'amaticbold', times, serif;
	font-size: 2em;
	color: #84201c;
	text-align: center;
}
.period{color: white;}

.enterButt{
  border-radius: 5px;
	font-family: 'dual300', times, serif;
  background-color: rgba(255, 255, 255, 0.99);
  border:.2rem solid rgba(255, 255, 255, 1);
  text-align: center;
  font-size: 1.125em;
  padding: 5px;
  width: 150px;
  transition: all 0.5s;
  margin: 0 auto;
	margin-left: 45%;
}
.enterButt:hover{
	background-color: rgba(255, 255, 255, 0.77);
	border-radius: 10px;
}
.enterButt span {
  cursor: grabbing;
  display: inline-block;
  position: relative;
  transition: 0.5s;
	color: #231f20;
}
.enterButt span:after {
  content: '\2193';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}
.enterButt:hover span {padding-right: 25px;}
.enterButt:hover span:after {
  opacity: 1;
  right: 0;
}


/*Header*/
.head	{
	background-image: url("../images/darkback.png");
	padding: 15px 0 10px 0;
}

.top{padding-top: 5px;}
p{margin-bottom: 0px;}
#main-menu ul li a{
	font-size: 1.875em;
	font-family: 'amaticbold', times, serif;
	color: white;
	padding-right: 50px;
}
.nav{padding-top: 20px;}

#main-menu ul li {
	list-style: none;
	text-align: center;
    }

#main-menu ul li a:hover{
	color: rgba(132, 32, 28, 1);
	text-decoration: underline;
	text-decoration-color: white;
}
.active {
	color: rgba(132, 32, 28, 1);
	text-decoration: underline;
	text-decoration-color: rgba(132, 32, 28, 1);
}
.title-bar{ background-color: rgba(35, 31, 32, 0);}

/*About*/
.about{margin-top: 25px;}

.orbit-caption{
	text-align: center;
	font-family: 'dual300', times, serif;
		font-size: 1em;
		 line-height: 1.2;
}
  .orbit-bullets button{
		border-radius: 0%;
		width: 60px;
		background-color:rgba(132, 32, 28, 1)}

.orbit-bullets button:hover{background-color:rgba(30, 28, 28, .9);}

.orbit-bullets button.is-active{background-color:rgba(30, 28, 28, .9);}

.copy
{font-size: .625em;
text-align: center;}

/*Skills*/
.skill{margin-top:20px;}

/*Portfolio*/
.port {font-family: 'amaticbold', cursive;}
.port img{background-color: white;
text-align: center;
font-size: 15px;
padding: 10px;
margin: 10px;
box-shadow: 1px 2px 3px black;}
img.pic1{
  -webkit-transform : rotate(-10deg);
  z-index: 1;
}
img.pic2 {
  -webkit-transform : rotate(15deg);
  z-index: 2;
}
img.pic3 {
  -webkit-transform : rotate(-25deg);
  z-index: 1;
}
img.pic4 {
  -webkit-transform : rotate(5deg);
  z-index:1;
}
img.pic5 {
  -webkit-transform : rotate(5deg);
  z-index:1;
}
img.pic6 {
  -webkit-transform : rotate(-8deg);
  z-index:1;
}




body {margin: 0px;font-family: 'amaticbold', cursive;}
div#background {height: 700px;width: 100%;padding-top: 20px;}
div#gallery {width: 800px;margin: auto;}
#background img {height: 150px;margin: 0px;}
#background figure {float: left;position: relative;background-color: white;text-align: center;font-size: 15px;padding: 10px;margin: 10px;box-shadow: 1px 2px 3px black;}
figure.pic1 {-webkit-transform : rotate(-10deg);z-index: 1;}
figure.pic2 {-webkit-transform : rotate(15deg); z-index: 2;}
figure.pic3 {-webkit-transform : rotate(-25deg);z-index: 1;}
figure.pic4 {-webkit-transform : rotate(5deg);z-index:1;}
figure.pic5 {-webkit-transform : rotate(5deg);z-index:1;}
figure.pic6 {-webkit-transform : rotate(-8deg);z-index:1;}
figure.pic7 {-webkit-transform : rotate(2deg);z-index:1;}
figure.pic8 {-webkit-transform : rotate(-13deg);z-index:1;}
figure.pic9 {-webkit-transform : rotate(-7deg);z-index:1;}
figure.pic10 {-webkit-transform : rotate(2deg);z-index:1;}
figure.pic11 {-webkit-transform : rotate(-3deg);z-index:1;}

#background figure:hover {
  box-shadow: 5px 10px 100px black;
  -webkit-transform: scale(1.1,1.1);
  z-index: 20;
}

/*Contact*/
#contact{
	margin-top: 10px;
padding-top: 100px;}
.contactinfo{
	font-size: 2.500em;
	font-family: 'amaticbold', times, serif;
	color: white;
	text-align: center;
	padding-top: 25px;
}

.tree{
    background-image: url("../images/tree.jpg");
		height:  700px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#Form {margin:10px 0 25px 0;}

input#name, #email, #message{
	font-family: 'dual300', times, serif;
	border-radius: 3px;
	color: black;
}
input::placeholder{color: #231f20;
}

 button#submit{
	border-radius: 6px;
	font-family: 'dual300', times, serif;
	margin: 0 auto;
	display: block;
background-color: white;
}

/*Media Queries*/
@media screen and (min-width: 31.250em)/*500 and larger*/
{
	.enterButt{
	  font-size: 1.563em;
	  padding: 5px;
	  width: 200px;
	}
}

@media screen and (min-width: 40.000em)/*640 and larger*/
{
	.enterButt{
	  font-size: 1.5em;
	  padding: 5px;
	  width: 190px;
	  transition: all 0.5s;
	  margin: 0 auto;
		margin-left: 15%;
	}
	.tagline{font-size: 3em;}

	#main-menu ul li a{font-size: 3em;}

	#main-menu ul li {display: inline;}

	.orbit-caption{font-size: 1.250em;}

	.orbit-bullets button{width: 150px;}

	.orbit-bullets button:hover{background-color:rgba(30, 28, 28, .9);}

	.orbit-bullets button.is-active{background-color:rgba(30, 28, 28, .9);}

	.tree{height:  600px;}
}

@media screen and (min-width: 80.313em)/*1285 and larger*/
{
	.tagline{
		font-size: 3.125em;
	}
}
